
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil:opsz,wght@10..72,100..900&display=swap');
.cabecalho{
    background-color: #8bc3ea;
    width: 100%;
}
.cabecalho{
    width: 100%;
}
.botao{
    color: #2f3e4b;
    font-size: 24px;
    text-decoration: none;
}
.titulo{
    color: #64799a;
    font-size: 32px;
    font-family:Emblema One;
    text-align: center;
    padding-top: 3em;
}
.h2{
    font-family: Emblema One;
    font-size: 28px;
    color: #285867;
}
.texto-inicial{
    font-size: 24px;
    color: #4f7cac;
}
.texto-fonte{
    font-size: 18px;
    color: #75a1b6;
}
.foto{
    width: 33%;
    border-radius: 10px;
    height: 500px;
}
.texto-descricao{
    font-size: 24px;
    display: inline-block;
}
.foto-explorar{
    text-align: left;
    width: 500px;
    height: 500px;
    display: inline-block;
}
.destino{
    display: flex;
    align-items: center;
}

.topicos{
    display: flex;
    position: absolute;
    padding: 1em;
    list-style-type: none; 
    flex-wrap: wrap;
    width: 100%;
    text-align: left;
}
.botao-link{
    text-decoration: none;
    display: flex;
    color:#4ca9aa;
    font-size: 24px;
    padding-left: 2em;
    padding-right: 2em;
}