
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil:opsz,wght@10..72,100..900&display=swap');
.cabecalho{
    background-color: #FFFF;
    width: 100%;
}
.topicos{
    color: black;
    font-size: 24px;
}
.titulo{
    color: rgb(138, 43, 226);
    font-size: 32px;
    font-family: Big Shoulders Stencil;
    text-align: center;
}
.texto{
    background-color:rgb(245, 247, 243);
}
.h2{
    font-family: Big Shoulders Stencil;
    font-size: 28px;
    color:blue;
}
.texto-inicial{
    font-size: 24px;
    color:blue;
}
.texto-fonte{
    font-size: 18px;
    color:blue;
}
.foto{
        width: 33%;
}
.topios{
    text-decoration: none;
}