
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil:opsz,wght@10..72,100..900&display=swap');

.cabecalho{
    background-color: #FFFF;
    width: 100%;
}
.topicos{
    color: black;
    font-size: 24px;
}
.titulo{
    color: rgb(138, 43, 226);
    font-size: 32px;
    font-family: Big Shoulders Stencil;
}